## Pandas
Es una librería de Python especializada en el manejo y análisis de estructuras de datos. pandas es un paquete de Python que proporciona estructuras de datos. Pandas depende de Numpy, la librería que añade un potente tipo matricial a Python. Los principales tipos de datos que pueden representarse con pandas son: Datos tabulares con columnas de tipo heterogéneo con etiquetas en columnas y filas.

## 1. Utilice la siguiente convención de importación

In [1]:
import pandas as pd

## 2. Estructura de datos de Pandas
## Series

In [3]:
s = pd.Series([3, -5, 7, 4], index=['a', 'b', 'c', 'd'])
print(s)

a    3
b   -5
c    7
d    4
dtype: int64

## 3. DataFrame

In [5]:
 data = {'Country': ['Belgium', 'India', 'Brazil'], 
 'Capital': ['Brussels', 'New Delhi', 'Brasília'],
 'Population': [11190846, 1303171035, 207847528]}
print(data)

{'Country': ['Belgium', 'India', 'Brazil'], 'Capital': ['Brussels', 'New Delhi', 'Brasília'], 'Population': [11190846, 1303171035, 207847528]}

## 4. DataFrame

In [6]:
df = pd.DataFrame(data, 
 columns=['Country', 'Capital', 'Population'])
print(df)

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

## 5.  I/O
## Leer y escribir CSV

In [ ]:
pd.read_csv('archivoSVC.csv', header=None, nrows=5)

In [11]:
 df.to_csv('myDataFrame.csv')

## 6. Leer y escribir a excel

In [ ]:
pd.read_excel('datos.xlsx')

In [ ]:
writer = ExcelWriter('ejemplo.xlsx')

In [ ]:
df.to_excel(writer)

In [ ]:
writer.save()

## 7.Leer multiples hojas del mismo archivo

In [ ]:
xlsx = pd.ExcelFile('ejemplo.xlsx')

In [ ]:
df = pd.read_excel('ejemplo.xlsx', index_col = 0)
print(df)

## 8. Pidiendo ayuda

In [20]:
help(pd.Series.loc)

Help on property:

    Access a group of rows and columns by label(s) or a boolean array.

    ``.loc[]`` is primarily label based, but may also be used with a
    boolean array.

    Allowed inputs are:

    - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
      interpreted as a *label* of the index, and **never** as an
      integer position along the index).
    - A list or array of labels, e.g. ``['a', 'b', 'c']``.
    - A slice object with labels, e.g. ``'a':'f'``.

      .. warning:: Note that contrary to usual python slices, **both** the
          start and the stop are included

    - A boolean array of the same length as the axis being sliced,
      e.g. ``[True, False, True]``.
    - A ``callable`` function with one argument (the calling Series or
      DataFrame) and that returns valid output for indexing (one of the above)

    See more at :ref:`Selection by Label <indexing.label>`

    Raises
    ------
    KeyError:
        when any items are not found

    See Also
    --------
    DataFrame.at : Access a single value for a row/column label pair.
    DataFrame.iloc : Access group of rows and columns by integer position(s).
    DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
        Series/DataFrame.
    Series.loc : Access group of values using labels.

    Examples
    --------
    **Getting values**

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=['cobra', 'viper', 'sidewinder'],
    ...      columns=['max_speed', 'shield'])
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4       5
    sidewinder          7       8

    Single label. Note this returns the row as a Series.

    >>> df.loc['viper']
    max_speed    4
    shield       5
    Name: viper, dtype: int64

    List of labels. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[['viper', 'sidewinder']]
                max_speed  shield
    viper               4       5
    sidewinder          7       8

    Single label for row and column

    >>> df.loc['cobra', 'shield']
    2

    Slice with labels for row and single label for column. As mentioned
    above, note that both the start and stop of the slice are included.

    >>> df.loc['cobra':'viper', 'max_speed']
    cobra    1
    viper    4
    Name: max_speed, dtype: int64

    Boolean list with the same length as the row axis

    >>> df.loc[[False, False, True]]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series

    >>> df.loc[df['shield'] > 6]
                max_speed  shield
    sidewinder          7       8

    Conditional that returns a boolean Series with column labels specified

    >>> df.loc[df['shield'] > 6, ['max_speed']]
                max_speed
    sidewinder          7

    Callable that returns a boolean Series

    >>> df.loc[lambda df: df['shield'] == 8]
                max_speed  shield
    sidewinder          7       8

    **Setting values**

    Set value for all items matching the list of labels

    >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
    >>> df
                max_speed  shield
    cobra               1       2
    viper               4      50
    sidewinder          7      50

    Set value for an entire row

    >>> df.loc['cobra'] = 10
    >>> df
                max_speed  shield
    cobra              10      10
    viper               4      50
    sidewinder          7      50

    Set value for an entire column

    >>> df.loc[:, 'max_speed'] = 30
    >>> df
                max_speed  shield
    cobra              30      10
    viper              30      50
    sidewinder         30      50

    Set value for rows matching callable condition

    >>> df.loc[df['shield'] > 35] = 0
    >>> df
                max_speed  shield
    cobra              30      10
    viper               0       0
    sidewinder          0       0

    **Getting values on a DataFrame with an index that has integer labels**

    Another example using integers for the index

    >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
    ...      index=[7, 8, 9], columns=['max_speed', 'shield'])
    >>> df
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    Slice with integer labels for rows. As mentioned above, note that both
    the start and stop of the slice are included.

    >>> df.loc[7:9]
       max_speed  shield
    7          1       2
    8          4       5
    9          7       8

    **Getting values with a MultiIndex**

    A number of examples using a DataFrame with a MultiIndex

    >>> tuples = [
    ...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
    ...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
    ...    ('viper', 'mark ii'), ('viper', 'mark iii')
    ... ]
    >>> index = pd.MultiIndex.from_tuples(tuples)
    >>> values = [[12, 2], [0, 4], [10, 20],
    ...         [1, 4], [7, 1], [16, 36]]
    >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
    >>> df
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Single label. Note this returns a DataFrame with a single index.

    >>> df.loc['cobra']
             max_speed  shield
    mark i          12       2
    mark ii          0       4

    Single index tuple. Note this returns a Series.

    >>> df.loc[('cobra', 'mark ii')]
    max_speed    0
    shield       4
    Name: (cobra, mark ii), dtype: int64

    Single label for row and column. Similar to passing in a tuple, this
    returns a Series.

    >>> df.loc['cobra', 'mark i']
    max_speed    12
    shield        2
    Name: (cobra, mark i), dtype: int64

    Single tuple. Note using ``[[]]`` returns a DataFrame.

    >>> df.loc[[('cobra', 'mark ii')]]
                   max_speed  shield
    cobra mark ii          0       4

    Single tuple for the index with a single label for the column

    >>> df.loc[('cobra', 'mark i'), 'shield']
    2

    Slice from index tuple to single label

    >>> df.loc[('cobra', 'mark i'):'viper']
                         max_speed  shield
    cobra      mark i           12       2
               mark ii           0       4
    sidewinder mark i           10      20
               mark ii           1       4
    viper      mark ii           7       1
               mark iii         16      36

    Slice from index tuple to index tuple

    >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
                        max_speed  shield
    cobra      mark i          12       2
               mark ii          0       4
    sidewinder mark i          10      20
               mark ii          1       4
    viper      mark ii          7       1

## 9. Selección

## Obteniendo un elemento del arreglo b

In [21]:
s['b']

-5

## 10. Obtener subconjunto de un DataFrame

In [22]:
df[1:]

  Country    Capital  Population
1   India  New Delhi  1303171035
2  Brazil   Brasília   207847528

## 11. Selección, indexación booleana y configuración
#### Seleccionar un valor por fila y columna (por posición

In [23]:
 df.iloc[0], [0]

(Country        Belgium
 Capital       Brussels
 Population    11190846
 Name: 0, dtype: object, [0])

In [24]:
df.iat[0,0]

'Belgium'

## 12. Seleccionar un valor por label de fila y label de columna (por label)

In [29]:
#df.loc([0], ['Country'])

In [28]:
#df.at([0], ['Country'])

## 13. Seleccionar una sola fila de subconjunto de filas (Por label, y posición)

In [30]:
df.iloc[2]

Country          Brazil
Capital        Brasília
Population    207847528
Name: 2, dtype: object

In [31]:
#df.ix[1,'Capital']

## 14.Indexación booleana

In [32]:
s[~(s > 1)]

b   -5
dtype: int64

In [33]:
s[(s < -1) | (s > 2)]

a    3
b   -5
c    7
d    4
dtype: int64

In [34]:
df[df['Population']>1200000000]

  Country    Capital  Population
1   India  New Delhi  1303171035

## 15. Ajustes

In [35]:
s['a'] = 6

## 16. Leer y escribir a SQL or tabla de base de datos

In [36]:
from sqlalchemy import create_engine
import pandas as pd

In [37]:
engine = create_engine('sqlite:///:memory:')

In [38]:
pd.read_sql("SELECT *FROM Personas;", engine)

OperationalError: (sqlite3.OperationalError) no such table: Personas
[SQL: SELECT *FROM Personas;]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [39]:
pd.to_sql('myDf', engine)

AttributeError: module 'pandas' has no attribute 'to_sql'

## 17. Borrando

In [40]:
 s.drop(['a', 'c'])

b   -5
d    4
dtype: int64

In [41]:
 #df.drop('Country', axis=0)

## 18. Ordenar y rank

In [43]:
df.sort_index()

   Country    Capital  Population
0  Belgium   Brussels    11190846
1    India  New Delhi  1303171035
2   Brazil   Brasília   207847528

In [44]:
 df.sort_values(by='Country')

   Country    Capital  Population
0  Belgium   Brussels    11190846
2   Brazil   Brasília   207847528
1    India  New Delhi  1303171035

In [45]:
df.rank()

   Country  Capital  Population
0      1.0      2.0         1.0
1      3.0      3.0         3.0
2      2.0      1.0         2.0

## 19. Recuperación de información de series/dataframes

## Información básica

In [46]:
df.shape

(3, 3)

In [47]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [48]:
df.columns

Index(['Country', 'Capital', 'Population'], dtype='object')

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
Country       3 non-null object
Capital       3 non-null object
Population    3 non-null int64
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [50]:
df.count()

Country       3
Capital       3
Population    3
dtype: int64

## 20. Summary

In [51]:
df.sum()

Country              BelgiumIndiaBrazil
Capital       BrusselsNew DelhiBrasília
Population                   1522209409
dtype: object

In [52]:
df.cumsum()

              Country                    Capital  Population
0             Belgium                   Brussels    11190846
1        BelgiumIndia          BrusselsNew Delhi  1314361881
2  BelgiumIndiaBrazil  BrusselsNew DelhiBrasília  1522209409

In [56]:
df.min()
df.max()

Country            India
Capital        New Delhi
Population    1303171035
dtype: object

In [59]:
#df.idxmin()/df.idxmax()

In [60]:
 df.describe()

         Population
count  3.000000e+00
mean   5.074031e+08
std    6.961346e+08
min    1.119085e+07
25%    1.095192e+08
50%    2.078475e+08
75%    7.555093e+08
max    1.303171e+09

In [61]:
df.mean()

Population    5.074031e+08
dtype: float64

In [62]:
df.median()

Population    207847528.0
dtype: float64

## 21. Aplicando funciones

In [63]:
 f = lambda x: x*2

In [64]:
 df.apply(f)

          Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22381692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasíliaBrasília   415695056

In [65]:
 df.applymap(f)

          Country             Capital  Population
0  BelgiumBelgium    BrusselsBrussels    22381692
1      IndiaIndia  New DelhiNew Delhi  2606342070
2    BrazilBrazil    BrasíliaBrasília   415695056

## 22. Alineamiento de datos
### Alineamiento de datos internos

In [67]:
s3 = pd.Series([7, -2, 3], index=['a', 'c', 'd'])
print(s3)

a    7
c   -2
d    3
dtype: int64

In [68]:
s + s3

a    13.0
b     NaN
c     5.0
d     7.0
dtype: float64

## 23. Operaciones aritméticas con métodos llenos

In [69]:
 s.add(s3, fill_value=0)

a    13.0
b    -5.0
c     5.0
d     7.0
dtype: float64

In [70]:
s.sub(s3, fill_value=2)

a   -1.0
b   -7.0
c    9.0
d    1.0
dtype: float64

In [71]:
 s.div(s3, fill_value=4)

a    0.857143
b   -1.250000
c   -3.500000
d    1.333333
dtype: float64

In [72]:
s.mul(s3, fill_value=3)

a    42.0
b   -15.0
c   -14.0
d    12.0
dtype: float64

# 24. Libro número dos de trucos de pandas
## Remodelación de datos
#### Creación de los datos

In [73]:
data = {'Date': ['2016-03-01','2016-03-02','2016-03-01','2016-03-03','2016-03-02','2016-03-03'],
        'Type': ['a','b','c','a','a','c'],
        'Value': [11.432,13.031,20.784,99.906,1.303,20.784]}

df2 = pd.DataFrame(data,
 columns=['Date', 'Type', 'Value'])

## 25. pivote

In [74]:
df3 = df2.pivot(index='Date', columns='Type',values='Value')

## 26. pilar/desapilar

In [ ]:
stacked = df4.stack()
stacked.unstack()

## 27. Derretir

In [78]:
pd.melt(df2,
        id_vars=["Date"],
        value_vars=["Type","Value"],
        value_name="Observations")

          Date variable Observations
0   2016-03-01     Type            a
1   2016-03-02     Type            b
2   2016-03-01     Type            c
3   2016-03-03     Type            a
4   2016-03-02     Type            a
5   2016-03-03     Type            c
6   2016-03-01    Value       11.432
7   2016-03-02    Value       13.031
8   2016-03-01    Value       20.784
9   2016-03-03    Value       99.906
10  2016-03-02    Value        1.303
11  2016-03-03    Value       20.784

## 28. Column-index,series pairs

In [9]:
df.iteritems()

NameError: name 'df' is not defined

## 29. Row-index,series pairs

In [10]:
df.iterrows()

NameError: name 'df' is not defined

## 30. Advanced Indexing
## Selecting

In [11]:
df3.loc[:,(df3>1).any()]

NameError: name 'df3' is not defined

## 31. Select cols with NaN

In [12]:
df3.loc[:,df3.isnull().any()]

NameError: name 'df3' is not defined

## 32. Select cols without NAN

In [13]:
df3.loc[:,df3.notnull().all()]

NameError: name 'df3' is not defined

## 33. Find same elements

In [14]:
df[(df.Country.isin(df2.Type))]

NameError: name 'df' is not defined

## 34. Filter on values

In [15]:
df3.filter(items=“a”,“b”])

SyntaxError: invalid character in identifier (<ipython-input-15-c9a5e7c523ce>, line 1)

## 35. Select specific elements

In [16]:
df.select(lambda x: not x%5)

NameError: name 'df' is not defined

## 36. Subset the data

In [17]:
s.where(s > 0)

NameError: name 's' is not defined

## 37. Query DataFrame

In [30]:
df6.query('second > first')

NameError: name 'df6' is not defined

## 38. Set the index

In [29]:
df.set_index('Country')

NameError: name 'df' is not defined

## 39. Reset the index

In [28]:
df4 = df.reset_index()
print(df4)

NameError: name 'df' is not defined

## 40. Renamme DataFrame

In [27]:

df = df.rename(index=str,
               columns={"Country":"cntry",
                        "Capital":"cptl",
                        "Population":"ppltn"})
print(df)

NameError: name 'df' is not defined

## 41. Reindexing

In [26]:
s2 = s.reindex(['a','c','d','e','b'])
print(s2)

NameError: name 's' is not defined

## 42. Forward Filling

In [25]:
df.reindex(range(4),
           method='Ffill')

NameError: name 'df' is not defined

## 43. Backward Filling

In [24]:
s3 = s.reindex(range(5),
               method='bfill')

NameError: name 's' is not defined

## 44. Multilndexing

In [23]:
arrays = [np.array([1,2,3]),
          np.array([5,4,3])]
df5= pd.DataFrame(np.random.rand(3, 2), index=arrays)
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples,
                                  names=['first', 'second'])
df6= pd.DataFrame(np.random.rand(3, 2), index=index)
df2.set_index(["Date", "Type"])

NameError: name 'np' is not defined

## 45. Duplicate Data
## Return unique values

In [22]:
s3.unique()
print(s3)

NameError: name 's3' is not defined

## 46. Check duplicates

In [21]:
df2.duplicated('Type')

NameError: name 'df2' is not defined

## 47. Drop duplicates

In [20]:
df2.drop_duplicates('Type', keep='last')

NameError: name 'df2' is not defined

## 48. Check index duplicates

In [19]:
df.index.duplicated()

NameError: name 'df' is not defined

## 49. Grouping Data
## Aggregation

In [18]:
df2.groupby(by=['Date','Type']).mean()

NameError: name 'df2' is not defined

df4.groupby(level=0).sum()

In [17]:
df4.groupby(level=0).agg({'a':lambda x:sum(x)/len(x),
                          'b': np.sum})

NameError: name 'df4' is not defined

## 50. Transformation

In [16]:
customSum = lambda x: (x+x%2)
df4.groupby(level=0).transform(customSum)

NameError: name 'df4' is not defined

## 51. Mising Data, Drop NaN values

In [15]:
df.dropna()

NameError: name 'df' is not defined

## 52.Fill NaN values with a predetermined value

In [14]:
df3.fillna(df3.mean())

NameError: name 'df3' is not defined

## 53. Replace values with others

In [13]:
df2.replace("a","f")

NameError: name 'df2' is not defined

## 54. Combining Data

In [12]:
data1 = pd.DataFrame({'X1': ['a','b','c'], 'X2': [11.432,1.303, 99.906]}); data1
data2 = pd.DataFrame({'X1': ['a','b','d'], 'X3': [20.78,"NaN", 20.784]}); data2
print(data1)
print(data2)

NameError: name 'pd' is not defined

## 55. Merge

In [11]:
pd.merge(data1,
         data2,
        how='left',
        on='X1')

NameError: name 'pd' is not defined

In [10]:
pd.merge(data1,
         data2,
        how='right',
        on='X1')

NameError: name 'pd' is not defined

In [9]:
pd.merge(data1,
         data2,
        how='inner',
        on='X1')

NameError: name 'pd' is not defined

In [8]:
pd.merge(data1,
         data2,
        how='outer',
        on='X1')

NameError: name 'pd' is not defined

## 56 Join

In [7]:
data1.join(data2, how='right')

NameError: name 'data1' is not defined

## 57. Concatenate
## Vertical

In [6]:

s.append(s2)

NameError: name 's' is not defined

## 58.Horizontal/vertical

In [5]:
pd.concat([s,s2],axis=1, keys=['One','Two'])

NameError: name 'pd' is not defined

In [4]:
pd.concat([data1, data2], axis=1, join='inner')

NameError: name 'pd' is not defined

## 59. Dates

In [3]:
df2['Date']= pd.to_datetime(df2['Date'])
df2['Date']= pd.date_range('2000-1-1',
                            periods=6,
                            freq='M')
dates = [datetime(2012,5,1), datetime(2012,5,2)]
index = pd.DatetimeIndex(dates)
index = pd.date_range(datetime(2012,2,1), end, freq='BM')

NameError: name 'pd' is not defined

## 60. Visualization

In [2]:
import matplotlib.pyplot as plt
s.plot()
plt.show()
print(s)

NameError: name 's' is not defined

In [1]:
df2.plot()
plt.show()

NameError: name 'df2' is not defined